* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'futrw';
  src: url('../font/FUTRFW.TTF');
}
.fnt-futrw {
  font-family: 'futrw';
}

@font-face {
  font-family: 'cinzel';
  src: url('../font/Cinzel-Regular.otf');
}
.fnt-cinzel {
  font-family: 'cinzel';
}


/* **************************** */

#curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#curtain span {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  display: block;
  transform-origin: bottom left;
  transition: 0.5s ease-in-out;
  transform: rotate(-90deg);
}
#curtain span:nth-child(1) {
  background: rgba(190, 241, 216, 0.281);
  transform: rotate(-90deg);
  transition-delay: 0.2s;
}
#curtain span:nth-child(2) {
  background: rgba(135, 208, 250, 0.562);
  transform: rotate(-90deg);
  transition-delay: 0.1s;
}
#curtain span:nth-child(3) {
  background: rgba(255, 255, 255);
  transform: rotate(-90deg);
  transition-delay: 0s;
}
#curtain.active span:nth-child(1) {
  z-index: 100;
  transition-delay: 0s;
}
#curtain.active span:nth-child(2) {
  z-index: 102;
  transition-delay: 0.1s;
}
#curtain.active span:nth-child(3) {
  z-index: 103;
  transition-delay: 0.2s;
}
#curtain.active span {
  transform: rotate(0deg);
}
.toggle {
  position: fixed;
  top: 20px;
  right: 10px;
  width: 50px;
  height: 50px;
  z-index: 1000;
  cursor: pointer;
  transition: 0.8s;
  color: azure;
}
#curtain.active .toggle {
  color: rgb(43, 43, 43);
  transform: rotate(-45deg);
}
#curtain .content-sliding {
  position: absolute;
  z-index: 200;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  transition-delay: 0s;
}
#curtain.active .content-sliding {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.7s;
}

.main-content {
  height: 39.7rem;
  display: grid;
  grid-template-areas: "top-grid"
                       "center-grid"
                       "clock";
  grid-template-columns: 100%;
  grid-template-rows: 25% 50% 25%;
  justify-content: center;
  align-content: center;
  background: linear-gradient(0deg ,rgb(0, 144, 228), rgb(135, 220, 248), rgb(2, 98, 224));
}
.main-content .top-grid {
  grid-area: top-grid;
  text-align: center;
}
.main-content .watch-clock {
  grid-area: clock;
  text-align: center;
  display: grid;
  grid-template-areas: "clock-now clock-now"
                       "clock-now clock-now"
                       "date-today date-today";
  grid-template-columns: auto 25%;
  grid-template-rows: 25% 25% 50%;
  justify-content: center;
  align-items: center;
}
.main-content .center-grid {
  grid-area: center-grid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  color: bisque;
  text-shadow: rgb(71, 71, 71) 5px 5px 10px ;
}


.clock-show {
  grid-area: clock-now;
  font-size: 3vw;
  color: bisque;
  text-shadow: rgb(71, 71, 71) 5px 5px 10px ;
}
.date-show {
  grid-area: date-today;
  font-size: 0.9vw;
  color: bisque;
  text-shadow: rgb(71, 71, 71) 2px 2px 4px ;
}


@media (max-width: 575.98px) {

.main-content {
  height: 39.7rem;
  display: grid;
  grid-template-areas: "top-grid"
                       "center-grid"
                       "clock";
  grid-template-columns: 100%;
  grid-template-rows: 25% 50% 25%;
  justify-content: center;
  align-content: center;
  background: linear-gradient(0deg ,rgb(0, 144, 228), rgb(135, 220, 248), rgb(2, 98, 224));
}
.clock-show {
  grid-area: clock-now;
  font-size: 5vw;
  color: bisque;
  text-shadow: rgb(71, 71, 71) 5px 5px 5px ;
}
.date-show {
  grid-area: date-today;
  font-size: 2vw;
  color: bisque;
  margin-bottom: 1rem;
  text-shadow: rgb(71, 71, 71) 2px 2px 4px ;
}

}